.git
.github
__pycache__
*.pyc
*.pyo
*.pyd

.env
.env.*
.streamlit/secrets.toml
.streamlit/*.toml

*.json
*.key
*.pem

.ipynb_checkpoints
.pytest_cache
.venv
venv
env
node_modules

.DS_Store
Thumbs.db